services:
  wikidatamcp:
    build: .
    env_file:
      - .env
    environment:
      - WD_VECTORDB_API_SECRET
      - LANGUAGE
      - VECTOR_SEARCH_URI
      - TEXTIFER_URI
      - WD_API_URI
      - WD_QUERY_URI
      - USER_AGENT
    container_name: wikidatamcp
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "8000:8000"
